body {
    margin: 0;
    background-color: #fffef8;
    overflow: hidden;
}

/* #timeline-page {
  display: none;
} */

.square-timeline {
  height: 18vh;
  transition: .5s all;
  cursor: pointer;
}

.square-timeline:hover {
  height: 19vh;
  filter: drop-shadow(0 1vh 0 #202131); 
}

.square-contaier-up {
    width: 87vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: -3%;
    top: 10%;
    
}

.square-contaier-down {
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: -8%;
}

/* .timeline-title {
  font-family: fb lapid;
  color: #f8f6e9;
  font-size: 5.5vmax;
  text-align: center;
  filter: drop-shadow(5px 5px 0 #807f86);
  position: relative;
  top: 0vh;
  z-index: 2;
} */

.arrow-timeline {
  width: 90vw;
}

#timeline-page .doodle-one-cloud {
  position: absolute;
  top: 10vh;
  width: 13vw;
}

#timeline-page .star1-bg {
  position: absolute;
  top: 17vh;
  width: 8vw;
  left: 4vw;
}


#timeline-page .star2-bg {
  position: absolute;
  top: 70vh;
  width: 5vw;
  right: 6vw;
}

.down-timeline-checkers {
  position: absolute;
  right: 0;
  width: 102vw;
  bottom: 0;
}

#timeline-page .explain-text-cloud {
  font-size: 2.5vmax;
  top: -3vh;
  left: 1vw;
}

#black-shadow-div-timeline {
  width: 105vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202131a6;
  z-index: 9;
  /* display: none; */
}

.card-img-timeline {
  position: absolute;
  top: 10vh;
  height: 80vh;
  z-index: 10;
  left: 10%;
  border: solid 1vh white;
  border-radius: 1vw;
}

.back-arrow-timeline {
  position: absolute;
  z-index: 11;
  width: 6vw;
  top: 15vh;
  left: 13vw;
  transition: all .5s;
  top: 12vh;
  left: 4vh;
  background-color: aliceblue;
  border-radius: 1vw;
  cursor: pointer;
}

.back-arrow-timeline:hover {
  filter: drop-shadow(0px 0px 0.5vh #2f2e3777);
  width: 6.2vw;
}

#card-container-timeline {
  display: none;
  z-index: 1000;
  position: absolute;
  top: -30vh;
  left: 20%;
}

#timeline-button-exit {
  position: relative;
  right: 39%;
  z-index: 2;
  top: 4vh;
}

#timeline-button-exit:hover {
  top: 6vh;
}

#timeline-button-enter {
  position: absolute;
  z-index: 3;
  top: 22vh;
  width: 15vw;
  box-shadow: 0 1.5vh;
  right: 0;
}

#timeline-button-enter:hover {
  box-shadow: 0 0;
  top: 23.5vh;
}

.timeline-title {
    height: 30vh;
}

.timeline-title-div {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.timeline-main-div {
    position: absolute;
    right: 0;
    left: 0;
    width: 100vw;
    top: 30%;
    display: flex;
    justify-content: center;
}

#explanation-text {
    height: 12vh;
}

#explanation-text-div {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#black-shadow-div-timeline {
  width: 105vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202131a6;
  z-index: 9;
  display: none;
}

#blur-div {
  display: none;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #20213153;
}

@keyframes blur-transition {
  0% {
    backdrop-filter: blur(0vh);
  }
  50% {
    backdrop-filter: blur(8vh);
  }
  100% {
    backdrop-filter: blur(0vh);
  }
}

.side-arrow {
    height: 12vh;
    transition: .5s;
}   

.side-arrow:hover {
      filter: drop-shadow(0px 0px 0.5vh #2f2e3777);
      height: 13vh;
      cursor: pointer;
}

#side-arrow-backwards {
    position: absolute;
    top: 43vh;
    z-index: 1112;
    left: 130vh;
}

#side-arrow-forwards {
    position: absolute;
    top: 43vh;
    z-index: 1111;
    left: 2vh;
    transform: scaleX(-1);  
}